@import "~antd/dist/antd.css";

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}
.ant-layout-header {
    color: #fff;
    background: #7dbcea;
}

.ant-table-content table {
    width: auto;
    min-width: unset !important;
}
